<div class="container cont_init">
  <div class="row">
    <div class="col-xl-12 col-sm-12">
      <h1>Crear tipo de usuario</h1>
      <div class="row">
        <div class="col-xl-6 col-sm-12">
          <form class="form_data_save" [formGroup]="formTypeUser" (ngSubmit)="createTypeUser()">
            <div class="mb-3">
              <label for="name" class="form-label">Nombre del cliente</label>
              <input formControlName="name" type="text" class="form-control" id="name">
              <div class="form-text"></div>
            </div>
            <button type="submit" class="btn btn-success">Guardar usuario</button>
          </form>
        </div>
        <div class="col-xl-6 col-sm-12">
          <table class="table table-success table-striped table-hover">
            <thead>
            <tr>
              <th scope="col">nombre</th>
              <th scope="col">Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let typeUser of type_user_list">
              <td>{{typeUser.name}}</td>
              <td>
                <img (click)="deleteTypeUser(typeUser.id)" class="img_delete" src="assets/img/delete.png">
                <img routerLink="/home/edit_type_user/{{typeUser.id}}/{{typeUser.name}}" class="img_delete" src="assets/img/editar.png">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
