<div class="container cont_init">
  <div class="row">
    <div class="col-xl-12 col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="messages">{{messages}}</div>
          <form class="form_data_save" [formGroup]="formCreateUser" (ngSubmit)="createUser()">
            <h1>Crear usuarios</h1>
            <div class="mb-3">
              <label for="name" class="form-label">Nombre del cliente</label>
              <input formControlName="name" type="text" class="form-control" id="name">
              <div class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="name_restaurant" class="form-label">Nombre del restaurante</label>
              <input formControlName="name_restaurant" type="text" class="form-control" id="name_restaurant">
              <div class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Dirección del restaurante</label>
              <input formControlName="address" type="text" class="form-control" id="address">
              <div class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Teléfono del restaurante</label>
              <input formControlName="phone" type="text" class="form-control" id="phone">
              <div class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input formControlName="email" type="email" class="form-control" id="email">
              <div class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input formControlName="password" type="password" class="form-control" id="password">
              <div class="form-text"></div>
            </div>
            <div class="mb-3">
              <label for="type_user" class="form-label">Tipo de usuario</label>
              <select formControlName="type_user" id="type_user" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option *ngFor="let typeUser of type_user_list" value="{{typeUser.name}}">{{typeUser.name}}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-success">Guardar usuario</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
